<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index_page</title>
  <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
  <div class="title">
    <h1>
      Technolo<span class="title_venus">Venus</span>
    </h1>
    <div>
      by FunaPon
    </div>
  </div>
  <br>
  <br>
  <div class="link_list">
    <a th:href="@{/calculator}" href="calculator.html">calculator</a>
    <a th:href="@{/pattern_maker}" href="pattern_maker.html">pattern_maker</a>
    <a th:href="@{/yozora}" href="yozora.html">yozora</a>
  </div>
</body>
</html>