<!DOCTYPE html>

<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>パターンメーカー</title>
  <link rel="stylesheet" type="text/css" href="../static/css/pattern_maker.css" th:href="@{/css/pattern_maker.css}">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Pattern Maker</h1>
  <input type="button" value="クリア" id="clear_btn">
  <input type="button" value="パターンパーツを保存" class="save" id="save_draw">
  <input type="button" value="パターン画像を保存" class="save" id="save_pattern">
  <div class="size-group">
    <input type="radio" name="size" class="size" id="size_4" data-size="4" checked><span>4×4</span>
    <input type="radio" name="size" class="size" id="size_8" data-size="8"><span>8×8</span>
    <input type="radio" name="size" class="size" id="size_16" data-size="16"><span>16×16</span>
  </div>
  <hr>
  <div class="canvas-draw-group">
    <canvas id="canvasDraw" width="160" height="160"></canvas><br>
    <canvas id="canvasGrid" width="160" height="160"></canvas>
    <input type="checkbox" id="grid" checked><span>グリッド</span><br>
    <span>ペンの太さ：</span><input type="number" id="pen" value="5" min="1" max="10"><br>
    <span>ペンの色：</span><input type="color" id="color" value="#c0c0c0"><br>
    <span>背景の色：</span><input type="color" id="background-color" value="#FFFFFD"><br>
  </div>
  <canvas id="canvasPattern"></canvas>
  <script src="../static/js/pattern_maker.js" th:src="@{/js/pattern_maker.js}"></script>
</body>
</html>